/* Testando uso de comentários */
head{
    font-family: "Helvetica Neue",;
    font-style:normal;
}
header{
    background-color:brown;
    height: 110px;
    width: 90px;
}
body {
    font-family: Arial;
    font-style: italic;
}
p {
    font-family: Impact;
    font-style: normal;
    font-size: 45px;
}
h2 {
    font-family: Arial;
    background-color: white;
    font-style:normal;
    color: rgb(3, 3, 143);
    }
*{
    margin: 1;
    padding: 0; 
}
footer{
    clear:both; 
    background-color: burlywood;
}
#superior{
    background-color: burlywood;
    height: 10%;
    width: 15%;
}
#cadastro{
    background-color: burlywood;
    height: 15%;
    width: 15%;
    float: right;
}
#motos{
    background-color: gray;
    min-height:70%;
    width: 65%;
}